.body {
    /* The image used */
    background-image: url("http://localhost:8000//myimage.gif");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}